   /* bbs */
   .bbs {
    background: #f8f8f8;
    border-bottom: 1px solid #ddd;
    height: 355px;
    }

    div .bbs {
    display: block;
    }

    .conwrap {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    }

    .conwrap:after {
    display: block;
    clear: both;
    content: "";
    }

    .bbs .news {
    float: left;
    width: 650px;
    height: 310px;
    padding-right: 49px;
    padding-top: 45px;
    border-right: 1px solid #ddd;
    }

    .bbs .news .tit {
    position: relative;
    margin-bottom: 15px;
    }

    .bbs .news .tit:after {
    content: "";
    display: block;
    width: 26px;
    height: 4px;
    margin: 5px 0 0;
    background: #c40f39;
    }

    h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    }

    .bbs .news .tit a {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 11px;
    color: #3d3e38;
    letter-spacing: 1px;
    border-bottom: 1px solid #3d3e38;
    }

    a {
    color: #7d7d7d;
    text-decoration: none;
    cursor: pointer;
    }

    ul, ol, li {
    list-style: none;
}



.bbs .news .news_lists li.first .thum {
    float: left;
}

.bbs .news .news_lists li {
    position: relative;
    line-height: 170%;
}
.bbs .news .news_lists li a {
    color: #555;
}
.bbs .news .news_lists li {
    position: relative;
    line-height: 170%;
}
img, input, select, textarea {
    vertical-align: middle;
}
img, fieldset, iframe {
    border: 0 none;
}

.bbs .news .news_lists li.first .txt {
    float: right;
    width: 456px;
    margin-top: 5px;
}

.bbs .news .news_lists li.first .txt .sbj {
    font-size: 21px;
    color: #000;
    margin-bottom: 5px;
}

.bbs .news .news_lists li.first .txt p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
    word-break: keep-all;
}

